.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-image: url('../../assets/img/voyager.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    
    .loginContainer {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        color: white;
        background-color: gray;

        h1 {
            font-size: 2.75rem;
        }
        h3 {
            margin: 0.25rem;
            font-size: 1.75rem;
        }
        p {
            margin: 1rem 0 0.5rem 0;
            font-size: 18px;
        }
        button {
            padding: 0.75rem 1.5rem;
            border: none;
            border-radius: 5px;
        }

        .error {
            color: darkred;
        }
    }

    a {
        padding: 0.2rem;
        position: absolute;
        bottom: 0%;
        left: 0%;
        border-radius: 2px 2px 0 0;
        cursor: pointer;
        color: black;
        background-color: white;
        font-size: 14px;
    }

}