@import '../../variables.scss';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}

.account {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
        font-size: 36px;
    }

    .overbudget, .underbudget {
        padding: 1rem;
        font-size: 20px;
    }

    .overbudget {
        color: $font-color-overspend;
    }
    .underbudget {
        color: $font-color-underbudget;
    }

    .accountContainer {
        width: 90%;
        margin: 30px;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid $font-color-dark;
        border-radius: 5px;

        .monthlyDetails {
            width: 100%;
            display: flex;
            align-items: baseline;
        }

        .monthlyExpenses, .monthlyBudget {
            width: 50%;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                margin: 15px 15px 5px 15px;
                font-size: 20px;
            }
            span {
                cursor: pointer;
                color: blue;
                font-size: 16px;
                text-decoration: underline;
            }

            form {
                padding: 0.5rem;
                gap: 10px;
                display: flex;

                input {
                    padding: 0.5rem;
                    border: 1px solid gray;
                }
                button {
                    padding: 0.5rem 1rem;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                }
                
            }
        }
    }
}