@import '../../variables.scss';

.navbar {
    width: 100%;
    height: $navbar-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $font-color-light;
    background-color: $navbar-color;

    .navbarRight {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h3 {
        padding: 0 1rem;
    }
}

.navbarDropdown {
    height: $navbar-height;
    padding: 0 1rem;
    color: $font-color-light;
    background-color: $navbar-color;

    .navbarNav {
        max-width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
    }
}

.navItem {
    width: calc($navbar-height * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;

    .navIcon {
        width: $navbar-button-size;
        height: $navbar-button-size;
        margin: 2px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        object-fit: cover;
    }
}

.dropdown {    
    width: 250px;
    top: 70px;
    z-index: 1;
    padding: 1rem;
    position: absolute;
    overflow: hidden;
    border-radius: 5px;
    transform: translateX(-50%);
    background-color: $navbar-accent-color;
}

.dropdownItem {
    height: 40px;
    gap: 15px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: background $speed;

    &:hover {
        background-color: $navbar-accent-color-hover;
    }

}