$navbar-color: #272D2D;
$accent-color-blue: #B8C5D6;
$accent-color-rose: #A39BA8;
$background-color: #F5F1ED;
$font-color-dark: #252323;
$font-color-light: #F9F9F9;
$test: #252323;

$navbar-height: 75px;
$navbar-button-size: calc($navbar-height * 0.5);
$speed: 500ms;